In [2]:
library(RSQLite)
library(dplyr)

In [3]:
my_fb <- src_sqlite("/tmp/RCrawler/my_fb.db")

In [4]:
res = tbl(my_fb, sql("SELECT * FROM my_fb_table WHERE message LIKE '%曹錦輝%'"))

In [5]:
collect(res)

Source: local data frame [2 x 4]

              message              id     date   time
1        曹錦輝下放3A 729354070521135 20150726 034011
2 嗯哼~BJ4\n\n#曹錦輝 729317440524798 20150726 025000

In [6]:
res = tbl(my_fb, sql("SELECT * FROM my_fb_table WHERE time LIKE '02%'"))

In [7]:
collect(res)

Source: local data frame [2 x 4]

              message              id     date   time
1 嗯哼~BJ4\n\n#曹錦輝 729317440524798 20150726 025000
2               #最新 729331047190104 20150726 024401